{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>{{team.name}} private Ethereum network</h1>
        <h4><i>Use this page to manage your ETH network instance</i></h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if inst %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="d-none d-md-table-cell d-lg-table-cell"><b> </b></td>
                        <td class="d-none d-md-table-cell d-lg-table-cell"><b> </b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="d-none d-md-table-cell d-lg-table-cell">
                            <b>IP address</b>
                        </td>
                        <td class="d-none d-md-table-cell d-lg-table-cell">
                            {{ inst.ip }}
                        </td>
                    <tr>
                        <td class="d-none d-md-table-cell d-lg-table-cell">
                            <b>Status</b>
                        </td>
                        <td class="d-none d-md-table-cell d-lg-table-cell">
                            {{ status }}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <h1>Please solve the challenge "Sanity" before coming here</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
